
$accent: #ffc000;
$title: #6dcff6;
$default: #000;

%dyna-400{
  font-family: 'Dynalight-Regular', sans-serif;
  font-weight: 400;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}