@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header-top{
  padding: 25px 0;
  &__list{
    display: flex;
    }
    &__link{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    }
    &__link-home{
      padding-left: 32px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/home.svg');
        width: 32px;
        height: 29px;
        top: -7px;
        left: 0;
        box-sizing: content-box;
      }
    }
    &__link-phone{
      padding-left: 41px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/phone.svg');
        top: -6px;
        left: 0;
        width: 35px;
        height: 28px;
        box-sizing: content-box;
      }
    }
    &__link-adress{
      padding-left: 40px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/adress.svg');
        width: 36px;
        height: 25px;
        left: 0;
        top: -4px;
        box-sizing: content-box;
      }
    }
}
.header-top__item + .header-top__item{
  margin-left: 20px;
}
.header-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__item{
    color: #ffc000;
    display: flex;
    align-items: center;
  }
  &__title{
    @extend %dyna-400;
    font-size: 74px;
    color: #fff;
   
  }
  &__item-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
  
  }
  &__item-price{
    font-size: 89px;
    font-weight: 700;
    padding-left: 23px;
    position: relative;
     &::before{
       content: '$';
       position: absolute;
      font-size: 50px;
      font-weight: 700;
      left: 3px;
      top: 12px;
      box-sizing: content-box;
     }
  }
  &__item-text{
    font-size: 28px;
  }
  &__img{
    margin-top: -136px;
    margin-right: -22px;
  }
  &__img-page{
    margin-top: -123px;
    margin-right: -6px;
  }
  &__item-box{
     min-width: 470px;
    display: flex;
    align-items: center;
    padding: 0 33px;
    position: relative;
   &::before{
     content: '{';
     position: absolute;
     font-size: 74px;
     font-weight: 700;
     left: 0;
     top: 4px;
     box-sizing: content-box;
    }
    &::after{
      content: '}';
      position: absolute;
      font-size: 74px;
      font-weight: 700;
      right: 7px;
      top: 4px;
      box-sizing: content-box;
    }
  }
  &__menu{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #282828;
  }
  &__menu-link{
    @extend %dyna-400;
    font-size: 32px;
    color: #fff;
    &:hover{
      color: $accent;
    }
    &:focus{
      color: $accent;
    }
  }
  &__menu-item{
    padding: 0 10px;
    & + .header-content__menu-item{
      padding-left: 10px;
    }
  }
}

.header-page{
  padding-bottom: 100px;
}
.header{
  &__menu-btn{
    display: none;
  }
}

.footer{
  padding: 60px 0 25px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 75px;
  &__item{
    max-width: 280px;
    padding: 0 55px;
    text-align: center;
    position: relative;
    &::before{
      content: '{';
      position: absolute;
      @extend %dyna-400;
      font-size: 180px;
      color: #ffc000;
      left: 20px;
      top: -38px;
      box-sizing: content-box;
    }
    &::after{
      content: '}';
      position: absolute;
       @extend %dyna-400;
      font-size: 180px;
      color: #ffc000;
      right: 20px;
      top: -38px;
      box-sizing: content-box;
    }
  }
  &__item-title{
    @extend %dyna-400;
    font-size: 44px;
    color: #6dcff6;
  }
  &__item-text{
    font-size: 20px;
    color: #fff;
    text-align: left;
  }
  &__item-textone{
    padding-left: 20px;
  }
  &__item-social{
    display: flex;
    align-items: center;
  }
  &__social-link{
    margin: 0 7px;
  }
}
.footer-bottom{
   font-size: 14px;
    color: #7d7d7c;
    padding-bottom: 20px;
  &__menu{
    display: flex;
    justify-content: center;
  }
  &__link{
   font-size: 16px;
   font-weight: 700;
    color: #7d7d7c;
    &:hover{
      color: #FFF;
    }
    &:focus{
      color: #ffc000;
    }
  }
  &__copy{
    text-align: center;
    padding-top: 15px;
  }
  &__item{
    margin-right: 10px;
    & + .footer-bottom__item{
        padding-left: 10px;
        position: relative;
         &::before{
           content: '';
           position: absolute;
           background-color: #7d7d7c;
           width: 1px;
           height: 24px;
           top: 0;
           left: 0;
           box-sizing: content-box;
      }
    }
  }
}

.products{
 box-sizing: content-box;
 margin: 60px 0 0;
  &__images-one{
    display: flex;
 }
 &__img-main{
   padding-left: 65px;
 }
 &__main{
   z-index: 2;
 }
 &__drinks{
   padding-right: 1px;
   transform: translateY(20px);
 }
 &__drinks{
   z-index: 1;
 }
 &__img-entree{
   padding-left: 60px;
   transform: translateY(-135px);
 }
 &__entree{
   z-index: 3;
 }
 &__img-desserts{
   padding-right: 30px;
   transform: translateY(-120px);
 }
 &__desserts{
   z-index: 4;
 }
  &__images-two{
     display: flex;
   
  }
  &__img-main-hover,
  &__img-drinks-hover,
  &__img-entree-hover,
  &__img-desserts-hover{
    display: none;
  }
  
}

.menu-composition{
  background-color: #fff;
  padding: 20px 10px 60px;
  &__inner{
    display: flex;
  }
  &__title{
    font-style: italic;
    font-size: 42px;
    font-weight: 700;
    color: #265d84;
    text-align: center;
    margin-bottom: 30px;
  }
  &__item{
    width: 50%;
  }
  &__item-inner{
    display: flex;
    flex-wrap: wrap;
  }
  &__item-title{
    font-style: italic;
    font-size: 36px;
    color: #265d84;
    text-align: center;
    margin-bottom: 25px;
  }
  &__item-card{
    width: 200px;
    margin: 0 10px 25px;
  }
  &__top-card{
    display: flex;
    justify-content: space-between;
  }
  &__subtitle{
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__text{
    font-style: italic;
  }
  &__buttom-text{
    padding: 50px 10px 0;
  }
  &__text-link{
    font-weight: 700;
    color: #000;
  }
  &__item-main{
    width: 25%;
  }
  &__inner-inner{
    display: flex;
   }
}
.booking-form{
  &__top{
    display: flex;
    margin-bottom: 30px;
  }
  &__medium{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}
.booking{
  &__input-name{
    display: block;
    width: 600px;
    margin: 0 10px;
    padding: 5px 10px;
  }
  &__input-mail{
    display: block;
    width: 300px;
     margin: 0 10px;
     padding: 5px 10px;
  }
  &__input-date{
    display: block;
    width: 380px;
    margin: 0 10px;
     padding: 5px 10px;
  }
  &__input-nmb{
    display: block;
    width: 100px;
    margin: 0 10px;
     padding: 8px 10px;
  }
  &__input-checkbox{
    display: inline-block;
  }
  &__textarea{
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px;
    
  }
  &__label-checkbox{
   margin-left: 115px;
  }
}
.button{
  display: block;
  margin-left: auto;
  background-color: none;
  border: none;
  font-weight: 700;
}

.blog{
  &__inner{
    display: flex;
  }
  &__inner-text{
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    width: 75%;
    padding: 0 10px;
  }
  &__text{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 26px;
  }
  &__text-link{
    font-weight: 700;
    font-style: normal;
    color: #333;
    text-decoration: underline;
  }
  &__text-span{
    font-weight: 700;
  }
  &__title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.blog-aside{
  width: 25%;
  padding: 0 10px;
  margin-left: 15px;
  &__item{
    margin-bottom: 30px;
  }
  &__list-item{
    list-style: inside;
  }
}
.about{
  &__subtitle{
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.contact{
  &__text{
    line-height: 28px;
  }
  &__email{
    display: inline-block;
    padding-right: 44px;
  }
  &__span{
    padding-right: 30px;
  }
  &__item{
    display: flex;
    max-width: 570px;
    margin-bottom: 15px;
  }
  &__address{
    padding-right: 32px;
  }
  &__phone{
    padding-right: 19px;
  }
}



@import 'media';